[submodule "chrome-extensions"]
	path = chrome-extensions
	url = https://github.com/apicore-engineering/Chrome-Extensions
	branch = feature/tab-recording
[submodule "am-chrome-extensions"]
	path = am-chrome-extensions
	url = https://github.com/automediaAI/Chrome-Extensions
